.boxleft {
    display: "flex";
    justify-content: 'flex-start';
}

.messagebox {
    padding: "25px";
    max-width: "40%";
    margin: "10px";
    border-radius: "30px";
    background-color: 'white'
}